<div class="section">
  <div class="title">
    <h1>Product Development</h1>
  </div>
</div>
<div class="section">
  <div class="grid-column-1">
      <p> Our product development process starts with understanding your business needs and intermediate goals.  We work closely with your technical team and apply Agile development processes to iterate faster. For most of our projects, We follow one week sprint cycle.</p>
  </div>
  <div class="grid-column-1">
      <p> Please get in touch with us at <a href="mailto:sales@yogirtech.com" rel="nofollow">sales@yogirtech.com</a> to explore our special discounts for end-to-end Build-Test-Deploy-Maintain pricing model. </p>
  </div>
</div>
