<div class="section">
  <div class="title">
    <h1>Product Development</h1>
  </div>
</div>
<div class="section">
  <div class="grid-column-1">
    <p> Our product development process starts with understanding your business needs and intermediate goals.</p>
    <p> We work closely with your technical team and apply Agile development processes to iterate faster.</p>
    <p> For most of our projects, We follow one week sprint cycle.</p>
  </div>


  <div class="grid-column-2">
    <li  id="menu-item-71"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-71 fusion-dropdown-menu"  >Technology <span class="caret"></span>
      <ul class="sub-menu">
        <li  id="menu-item-119"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-119 fusion-dropdown-submenu"  >Web / Mobile Applications</li>
        <li  id="menu-item-118"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118 fusion-dropdown-submenu"  >Cloud</li>
        <li  id="menu-item-117"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117 fusion-dropdown-submenu"  >Java, Javascript, Python, Ruby and OpenSource</li>
      </ul>
    </li>
  </div>

  <div class="grid-column-3">
    <p> Please get in touch with us at <a href="mailto:sales@yogirtech.com" rel="nofollow">sales@yogirtech.com</a> to explore our special discounts for end-to-end Build-Test-Deploy-Maintain pricing model. </p>
  </div>
</div>
