<div class="section">
  <div class="top-border left"></div>
  <div class="top-border right"></div>
  <h1>CONTACT US</h1>

  <div class="box__grid" align="horizontal">
    <article class="box"><a class="box__content"><i class="fa fa-address-card fa-3x"></i>
      <h3 class="box__title">Mail To:</h3>
      <p>
        Yogi R Tech
        Subramaniyam Nagar 1st Street
        Madipakkam, Chennai - 600 091
      </p></a>
    </article>

    <article class="box"><a class="box__content"><i class="fa fa-mobile-phone fa-3x"></i>
      <h3 class="box__title">Phone:</h3>
      <p>
        +91 99400 34506
      </p></a>
    </article>

    <article class="box"><a class="box__content"><i class="fa fa-address-book fa-3x"></i>
      <h3 class="box__title">Email:</h3>
      <p>
        <a href="mailto:sales@yogirtech.com" rel="nofollow">sales@yogirtech.com</a>
      </p></a>
    </article>
  </div>


</div>
