<div class="section">
  <div class="grid-column-1">
    <div class="mission">
      <h2>Our Mission</h2>
      <p> Enable the World's Businesses to be more Productive and Successful</p>
      <p>Yogi R Tech is an Offshore Software Solutions company specializing in the development, maintenance and testing of Web and Mobile Applications.</p>
      <p>We take pride in what we do and enjoy our work, which translates into an excellent results for offshore / onshore model. We apply best practices and strive to deliver affordable solutions.</p> 
    </div>
  </div>
  <div class="grid-column-1">
    <div class="vision">
      <h2>Our Vision</h2>
      <p> Create affordable software solutions for global businesses </p>
    </div>
  </div>
</div>
