<div class="section">

  <div class="grid-column-1">
    <div class="mission">
      <h2>Our Mission</h2>
      <p> Enable the World's Businesses to be More Productive and Successful</p>
    </div>
  </div>

  <div class="grid-column-2">
    <div class="vision">
      <h2>Our Vision</h2>
      <p> Create Affordable Software Solutions for Global Businesses </p>

      <h2> Our Operating Principles </h2>
      <p> "A customer is the most important visitor on our permises. He is not dependent on us.
        We are dependent on him. He is not an interruption in our work. He is the purpose of it.
        He is not an outsider in our business.He is part of it. We are not doing him a favor by serving him.
        He is doing us a favor by giving us an opportunity to do so."  - Mahatma Gandhi
      </p>
    </div>
  </div>

  <div class="grid-column-3">
    <div class="aboutus">
      <h2>About Us</h2>
      <p>Yogi R Tech is an Offshore Software Solutions company specializing in the development, maintenance and testing of Web and Mobile Applications.</p>
      <p>We take pride in what we do and enjoy our work, which translates into an excellent results for offshore / onshore model. We apply best practices and strive to deliver affordable solutions.</p>
    </div>
  </div>

</div>
