<div class="section">
  <div class="title">
    <h1>Mobile Automation</h1>
  </div>
</div>
<div class="section">
  <div class="grid-column-1">
    <p>We work closely with our clients to understand and translate their vision and commitment for quality into reality. </p>
    <li  id="menu-item-71"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-71 fusion-dropdown-menu"  >When it comes to Qualtiy, We focus on: <span class="caret"></span>
      <ul class="sub-menu">
        <li  id="menu-item-119"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-119 fusion-dropdown-submenu"  >Developer Productivity </li>
        <li  id="menu-item-118"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118 fusion-dropdown-submenu"  >Predictable and Improved Quality Metrics </li>
        <li  id="menu-item-117"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118 fusion-dropdown-submenu"  >Cost Effective Solutions using Open Source Technologies </li>
        <li  id="menu-item-116"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118 fusion-dropdown-submenu"  >Cloud Integration </li>
      </ul>
    </li>
  </div>

  <div class="grid-column-2">
    <p>We are experts in Web and Mobile Automation Technologies </p>
    <li  id="menu-item-72"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-71 fusion-dropdown-menu"  >Supported Frameworks: <span class="caret"></span>
      <ul class="sub-menu">
        <li  id="menu-item-129"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-119 fusion-dropdown-submenu"  >Selenium </li>
        <li  id="menu-item-128"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118 fusion-dropdown-submenu"  >Appium </li>
        <li  id="menu-item-128"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118 fusion-dropdown-submenu"  >Cypress </li>
        <li  id="menu-item-127"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118 fusion-dropdown-submenu"  >iOS UI Tests </li>
        <li  id="menu-item-126"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118 fusion-dropdown-submenu"  >Android Espresso, Robotium, UIAutomator2, MonkeyRunner </li>
        <li  id="menu-item-125"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118 fusion-dropdown-submenu"  >JUnit, Ruby/RSpec and Python UnitTests </li>
      </ul>
  </div>
</div>
