<div class="section">
  <div class="top-border left"></div>
  <div class="top-border right"></div>
  <h1>Mobile Automation</h1>
  <p>We work closely with our clients to understand and translate their vision and commitment for quality into reality. When it comes to Qualtiy, we focus on:
    <li> Developer Productivity </li>
    <li> Predicatable and Improved Quality Metrics </li>
    <li> Cost Effective Solutions using Open Source Technologies </li>
  </p>
  <p>We are experts in both Web and Mobile Automation(Selenium, Appium, iOS UI Tests and Android Espresso Frameworks), Black box, White box, Unit, functional, integration, Load and Stress Testing. </p>

</div>
