<div class="section">
  <div class="title">
    <h1>Mobile Automation</h1>
  </div>
</div>
<div class="section">
  <div class="grid-column-1">
    <p>We work closely with our clients to understand and translate their vision and commitment for quality into reality. When it comes to Qualtiy, we focus on: </p>
    <p> Developer Productivity </p>
    <p> Predicatable and Improved Quality Metrics </p>
    <p> Cost Effective Solutions using Open Source Technologies </p>
    <p>We are experts in both Web and Mobile Automation(Selenium, Appium, iOS UI Tests and Android Espresso Frameworks),
      Black box, White box, Unit, functional, integration, Load and Stress Testing</p>
  </div>
</div>
