.section {
  @media (min-width: 685px) {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  width: 100%;
  line-height: 2;
  .grid-column-1 {
    padding: 15px;
    flex: 1;
    box-sizing: border-box;
    flex-basis: 40%;
    margin: 15px;
  }
  .title {
    margin-left: 15px;
  }
}
