<div class="section">
  <div class="title">
    <h1>Software Support</h1>
  </div>
</div>
<div class="section">
  <div class="grid-column-1">
    <p>At YOGI R TECH, We provide Offshore Software Maintenance Support for Web and Mobile Apps and Technical Customer Support for your valued customers.</p>

    <p>We have the ability to scale and ramp up quickly to meet your seasonal Customer Support volume demands. </p>
  </div>

  <div class="grid-column-2">
    <li  id="menu-item-71"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-71 fusion-dropdown-menu"  >We have two different support packages for your needs: <span class="caret"></span>
      <ul class="sub-menu">
        <li  id="menu-item-119"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-119 fusion-dropdown-submenu"  >Premium Pacakge: 12 hours of Support Coverage </li>
        <li  id="menu-item-118"  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118 fusion-dropdown-submenu"  >Custom Package: Customized Package based on your business priorities and needs </li>
      </ul>
    </li>

    <p>Please reach us at <a href="mailto:sales@yogirtech.com" rel="nofollow">sales@yogirtech.com</a></p>
  </div>
</div>
