<div class="section">
  <div class="top-border left"></div>
  <div class="top-border right"></div>
  <h1>Software Support</h1>
  <p>We provide both Software Maintenance Support for Web and Mobile Apps and Technical Customer Support for your valued customers.</p>

  <p>We have two different support packages for your needs. Our packages are:
    <ul>
      <li> Premium Pacakge: 12 hours of Support Coverage </li>
      <li> Custom Package: Customized Packag based on your business priorities and needs </li>
    </ul>

  <p>
    Please reach us at sales@yogirtech.com for further details.
  </p>
</div>
